<h1><%= @members.count %> Results</h1>
<% @members.each do |member| %>
  <section class="member">
    <p class="name"><%= member[:name] %></p>
    <p class="role"><%= member[:role] %></p>
    <p class="house"><%= member[:house] %></p>
  </section>
<% end %>
